
.away-stats{
    display: flex;
    margin-left: 150px;
    height: 10px;
    transform: translateY(90px);
}

.away-count, .away-somethin {
    flex:1;
    color:#0c2222;
}

.away-db-image{
    width:1000px;
    height:auto;
    z-index: 1;
}

.images-tab-away{
    display: flex;
    max-width: 900px;
    margin-left: 50px;
}

.img-away-left, .img-away-right{
    flex:1;
    transform: translateY(-350px);
}

.akela-picture-away {
    margin-left: 120px;
    transform: translateY(-410px);
}

